<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Agregar Producto</title>
  </head>
  <body>
    <h1>Agregar Producto</h1>
    <form
      action="#"
      th:action="@{/productos/add}"
      th:object="${producto}"
      method="post"
    >
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" th:field="*{nombre}" />
      <label for="precio">Precio:</label>
      <input type="number" id="precio" th:field="*{precio}" />
      <label for="stock">Stock:</label>
      <input type="number" id="stock" th:field="*{stock}" />
      <button type="submit">Añadir Producto</button>
    </form>
    <a href="/productos/view">Volver a la lista de productos</a>
  </body>
</html>
