<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Editar Producto</title>
  </head>
  <body>
    <h1>Editar Producto</h1>
    <form
      action="#"
      th:action="@{/productos/edit/{id}(id=${producto.id_producto})}"
      th:object="${producto}"
      method="post"
    >
      <input type="hidden" th:field="*{id_producto}" />
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" th:field="*{nombre}" />
      <label for="precio">Precio:</label>
      <input type="number" id="precio" th:field="*{precio}" />
      <label for="stock">Stock:</label>
      <input type="number" id="stock" th:field="*{stock}" />
      <button type="submit">Actualizar producto</button>
    </form>
    <a href="/productos/view">Volver a la lista de productos</a>
  </body>
</html>
