<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Lista de Productos</title>
  </head>
  <body>
    <h1>Lista de Productos</h1>
    <a href="/productos/add">Agregar Nuevo Producto</a>
    <table>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Acciones</th>
      </tr>
      <tr th:each="producto : ${productos}">
        <td th:text="${producto.id_producto}">ID</td>
        <td th:text="${producto.nombre}">Nombre</td>
        <td th:text="${producto.precio}">Precio</td>
        <td th:text="${producto.stock}">Stock</td>
        <td>
          <a th:href="@{'/productos/edit/' + ${producto.id_producto}}"
            >Editar</a
          >
          <a th:href="@{'/productos/delete/' + ${producto.id_producto}}"
            >Eliminar</a
          >
        </td>
      </tr>
    </table>
    <a href="/">Inicio</a>
  </body>
</html>
