<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Agregar Sucursal</title>
  </head>
  <body>
    <h1>Agregar Sucursal</h1>
    <form
      action="#"
      th:action="@{/sucursales/add}"
      th:object="${sucursal}"
      method="post"
    >
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" th:field="*{nombre}" />
      <label for="direccion">Dirección:</label>
      <input type="text" id="direccion" th:field="*{direccion}" />
      </select>
      <button type="submit">Añadir Sucursal</button>
    </form>
    <a href="/sucursales/view">Volver a la lista de sucursales</a>
  </body>
</html>
