<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Editar Sucursal</title>
  </head>
  <body>
    <h1>Editar Sucursal</h1>
    <form
      action="#"
      th:action="@{/sucursales/edit/{id}(id=${sucursal.id_sucursal})}"
      th:object="${sucursal}"
      method="post"
    >
      <input type="hidden" th:field="*{id_sucursal}" />
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" th:field="*{nombre}" />
      <label for="direccion">Direccion:</label>
      <input type="text" id="direccion" th:field="*{direccion}" />
      </select>
      <button type="submit">Actualizar sucursal</button>
    </form>
    <a href="/sucursals/view">Volver a la lista de sucursals</a>
  </body>
</html>
