<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Editar Venta</title>
  </head>
  <body>
    <h1>Editar Venta</h1>
    <form
      action="#"
      th:action="@{/ventas/edit/{id}(id=${venta.id_venta})}"
      th:object="${venta}"
      method="post"
    >
      <input type="hidden" th:field="*{id_venta}" />
      <label for="empleado">Empleado:</label>
      <select id="empleado" th:field="*{id_empleado.id_empleado}">
        <option
          th:each="empleado : ${empleados}"
          th:value="${empleado.id_empleado}"
          th:text="${empleado.nombre} + ' ' + ${empleado.apellido}"
        ></option>
      </select>
      <label for="producto">Producto:</label>
      <select id="producto" th:field="*{id_producto.id_producto}">
        <option
          th:each="producto : ${productos}"
          th:value="${producto.id_producto}"
          th:text="${producto.nombre}"
        ></option>
      </select>
      <label for="cantidad">Cantidad:</label>
      <input type="number" id="cantidad" th:field="*{cantidad}" />
      <label for="monto_total">Monto Total:</label>
      <input
        type="text"
        id="monto_total"
        th:field="*{monto_total}"
        th:value="${#numbers.formatDecimal(venta.monto_total, 1, 'POINT', 2, 'COMMA')}"
      />
      <button type="submit">Actualizar Venta</button>
    </form>
    <a href="/ventas/view">Volver a la lista de ventas</a>
  </body>
</html>
